<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=Gustin;User Name=sa;Password=password;Integrated Security=True;User Instance=True"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
